# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
storybook-static
.storybook

.env
.prettierrc.json

elint.config.mjs
client/package-lock.json
client/package.json
client/vite.config.js
client/vitest.shims.d.ts

package.json
package-lock.json
node_modules
client/tailwind.config.js
client/postcss.config.js
vite.config.js
vitest.shims.d.ts
